<div *ngIf="finished" class="container topmargin">

    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-outline-primary" id="addClient" (click)="openWindow(editClientWindow, null)">
          <i class="fas fa-plus">
          </i>
        </button>
      </div>

    </div>
    <div class="accordion" *ngFor="let client of clients">

      <div class="card topmargin border-bottom">
        <div class="card-header row" id="heading">
          <h1 class="card-title"> {{client.name}} </h1>
          <p style="margin-top: 30px; margin-left: 30px"> {{client.description}} </p>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-3">
              <button class="btn-secondary" (click)="openWindow(editClientWindow, client)" > edit </button>
            </div>
            <div class="col-3">
              <a href="{{'questionnaires/' + client._id }}"> See all forms</a>
            </div>
            <div class="col-3">
              <a href="{{'manage-staff/' + client._id}}"> Manage Company Staff </a>
            </div>
            <div class="col-3 text-right">
              <button type="button" (click)="openWindow(removeClientWindow, client)" class="btn-sm btn-danger">X</button>
            </div>

          </div>
        </div>

      </div>

    </div>

</div>

<ng-template #removeClientWindow let-modal>
  <div class="modal-header">
    <div class="row">
      <div class="modal-title col-10">
        Removing Client
      </div>
      <div class="col-2 text-right">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
        </button>
      </div>
    </div>

  </div>

  <div class="modal-body">
    The client < {{selectedClient.name}} >will be removed from the list. Are you sure?
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-12 text-right">
        <button class="alert-danger" (click)="removeClient()">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #editClientWindow  let-modal>
  <div class="modal-header">
    <div class="row">
      <div class="modal-title col-10">
        Input client name and description (Won't change if left blank)
      </div>
      <div class="col-2 text-right">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
        </button>
      </div>
    </div>

  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="newName"></label>
      <input [(ngModel)]="newName" class="form-control" type="text" id="newName" placeholder="Name">

      <label for="newDescription"></label>
      <input [(ngModel)]="newDescription" class="form-control" type="text" id="newDescription" placeholder="Description">
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-12 text-right">
        <button class="alert-danger" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>
