<div class="text-center">
    <div class="card" style="margin-top: 10px">
        <div >
        <h1>
        Welcome to Secure questionnarie system
        </h1>
        </div>
        <div class="p-3 mb-2 bg-primary text-white" style="margin-top: 100px">
        <h3>
          Secure questionnarie system is fully secured, with three main functionality:
          <div style="margin-top: 20px" > 
            View questionnarie
          </div>
          <div style="margin-top: 20px">
            Create questionnarie
          </div>
          <div style="margin-top: 20px">
             View clients
          </div>
          <div style="margin-top: 30px">
             Please refer to User manual for detailed usage of our system
             <br>
             <br>
             We always look forward to your feedback
             <br>
             <br>
             Please refer to contact us if you have query about our system or want to provide feedback 
          </div>
        </h3>
        </div>
  </div>