<div class="text-center">
  <div class="card" style="margin-top: 10px">
    <div>
      <h1>
        Welcome to the AnonyForms secure questionnarie system
      </h1>

      <h5>
        Our system is a totally secure way to handle all aspects of questionnaire creation and information gathering.
        <br>
        For a detailed look at our system, take a look at our user manual.
        <br>
        To get in touch or to provide feedback please go to the 'Contact' page.

      </h5>
    </div>
  </div>
</div>
