<div class="text-center">
    <div class="card" style="margin-top: 10px">
        <div >
        <h1>
        Welcome to the AnonyForms secure questionnaire system
        </h1>

        <h5>
            <br>
          AnonyForms is a secure information gathering portal through which questionnaires can be created, distributed and collected in a completely secure way.  
            <br>
            <br>
             For a detailed look at our system and information on how to use it, please refer to the user manual.
             <br>
            <br>
             Information on how to get in touch can be found on the 'Contact' page. Feedback can also be provided through the page. 

            </h5>
  </div>