<ng-template #exampleInputWindow let-modal>
  <div class="modal-header">
    <div class="modal-title">
      <h1>example inputs</h1>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
    </button>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <h5> Example 1</h5>
      </div>
      <p> example1@abc.com </p>
      <p> example2@efg.com</p>
      <p> abc@efg.com </p>
    </div>
    <div class="col-6">
      <div class="row">
      <h5> Example 2</h5>
      </div>
      <p> e@abc.com e2@efg.com, abc@efg.com </p>
    </div>

  </div>
  </div>

</ng-template>



<div class="container">
<!--Row is used to formalise data-->
  <div class="row">
    <p>Input email addresses of respondents, separated by comma or space (including line break).</p>
    <p>
      <button class="btn btn-outline-dark" (click)="openWindow(exampleInputWindow)">
        show example inputs
      </button>
    </p>

    <br>
    <p><b>Note: Once the questionnaire is activated, you will not be able to amend the assignment (add or remove respondent) afterwards due to privacy and security concerns.</b></p>
    <p>We strongly recommend that you use a text editor to edit the list locally and copy & paste.</p>
  </div>

  <div class="row">


      <!--Description for input area-->
    <label for="emailInput">
        Email addresses:
    </label>

        <!--Input area, valid email adress only-->
    <textarea style="overflow-y: scroll"  id="emailInput" type="email" [(ngModel)]="inputEmails" (ngModelChange)="parseEmails()" name="emailInput" multiple> </textarea>
  </div>
  <!--Sumbit button for the input area-->
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-secondary" (click)="showEmails()">
        show list
      </button>
    </div>


  </div>



</div>
