<div class="container topmargin">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <button (click)="backClicked()" type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i></button>
          My Questionnaires
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="card">
              <div class="card-header">
                Questionnaire Title
              </div>
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      This is a brief description of this form.
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-2">
                      <a href="/questionnaire/edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
              <div class="card-header">
                Another Questionnaire
              </div>
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      What the form is about and other useful infomation.
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-2">
                      <a href="/questionnaire/edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
              <div class="card-header">
                Yet another one
              </div>
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      A quick description describing what it is about
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-2">
                      <a href="/questionnaire/edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
