    <!--First Card-->
      <div class="container">

          <div class="row">
            <div class="col-sm">
              <div class="card" style="width: 30rem;">
                  <div class="card-body">
                    <h5 class="card-title">View Questionnaires</h5>
                    <p class="card-text">View the list of active and expired questionnaires</p>

                    <!-- Modal -->
                    <ng-template #viewQuestionnaireWindow let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">View Questionnaire</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-outline-dark" href="/questionnaires/active">View Active Questionnaires</a>
                        <a class="btn btn-outline-dark" href="/questionnaires/expired" >View Expired Questionnaires</a>
                      </div>
                    </ng-template>
                    <hr><button (click)="open(viewQuestionnaireWindow)" class="btn btn-primary btn-lg">-></button>
                  </div>
                </div>
            </div>
    <!--Second Card-->
    <div class="col-sm">
      <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Create/Edit Questionaire</h5>
            <p class="card-text">Create a Questionnaire from scratch or from saved draft</p>
            <hr>

            <!-- Modal -->
            <ng-template #createFormWindow let-modal>
                <div class="modal-header">
                <h4 class="modal-title">Create Questionnaire</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                  <div class="modal-footer">
                    <button class="btn btn-outline-dark" (click)="goToCreateFromScratchPage()" >Create from Scratch</button>
                    <button class="btn btn-outline-dark" (click)="goToDraftPage()" >Edit Draft</button>
                  </div>
            </ng-template>

                <button class="btn btn-lg btn-primary" (click)="open(createFormWindow)">-></button>




            </div>
        </div>
    </div>
  </div>
  <!--Space between first and second row of cards-->
  <div class ="row">
      <br><br>
  </div>

  <div class="row">
      <!--Third Card-->
    <div class="col-sm">
      <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">View Clients</h5>
            <p class="card-text">View the list of current  and previous clients</p>
              <hr>
              <a href="view-clients" class="btn btn-primary btn-lg">-></a>
          </div>
        </div>
    </div>
  </div>
</div>
