<!--Html file to factilite the functionality to view questionnaire -->

<div *ngIf="finished" class="container topmargin">
  <div class="row border-bottom">
    <!--Title of questionnaire-->
    <h1 class="card-title">
      {{ questionnaire.title || questionnaire.name }}
    </h1>

  </div>

  <!--Date of questionnaire  assigned-->
  <div class="row">

    <div class="col-6">
      <b>
        Date assigned:
      </b>
    </div>

    <div class="col-6">
      {{ questionnaire.dateAssigned }}
    </div>

  </div>

  <!--Deadline for completing the questionnaire -->
  <div class="row">

    <div class="col-6">
      <b>
        Deadline:
      </b>
    </div>

    <div class="col-6">
      {{ questionnaire.deadline }}
    </div>

  </div>

  <!--People that questionnarie assigned to-->
  <div class="row">

    <div class="col-6">
      <b>
        Assigned to:
      </b>
    </div>

    <div class="col-6">
      <!-- button to show the pop up window -->
      <button class="btn btn-primary" (click)="openWindowCustomClass(viewAssignedWindow)">
        Show List
      </button>
    </div>

  </div>

  <!--Status of the questionnarie-->
  <div class="row border-bottom" style="padding-bottom: 30px">

    <div class="col-6">
      <b>
        Status:
      </b>
    </div>

    <div class="col-6">
      {{ questionnaire.status }}
    </div>

  </div>

  <br>
  <!--Section to show people have alreadyresponded -->
  <div class="card-title">

    <h2>
      Response
    </h2>

  </div>

  <!--Progress bar used to show number of people already responded and percentage compared to all people assigned-->
  <p>
    <ngb-progressbar type="success" [value]="33">
      {{ questionnaire.responseNumber }} / {{ questionnaire.assignedNumber }}
    </ngb-progressbar>
  </p>

  <hr>

  <div class="card-title">
    <h2>
      Views
    </h2>
  </div>

  <!--Section to show detailed statistics-->
  <div class="list-group">

    <div class="row">
      <div class="col-8">
        View overall statistics of the responses.
      </div>

      <div class="col-4">
        <!--Button to show the pop up window-->
        <button type="button" class="btn btn-outline-success" (click)="viewOverall()">
          View Overall
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col-8">
        See response list and check them out one by one.
      </div>

      <div class="col-4">
        <!--Button to show the pop up window-->
        <button type="button" class="btn btn-outline-success" (click)="viewResponseList()">
          Response List
        </button>

      </div>
    </div>
  </div>

  <hr>

  <div class="card-title">
    <h2>
      Services
    </h2>
  </div>

  <!--Section for facilitating service functionality -->
  <div class="list-group">
    <div class="row">

      <div class="col-8">
        Assign the questionnaire to other people through email.
      </div>

      <div class="col-4">
        <!--Button to assign the questionnarie-->
        <button type="button" class="btn btn-outline-success">
          Assign
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        Change the deadline of the questionnaire.
      </div>
      <div class="col-4">

        <!--Button to change deadline-->
        <button class="btn btn-outline-success" (click)="openWindowCustomClass(changeDeadlineWindow)">
          Change Deadline
        </button>
      </div>
    </div>
    <div class="row">

      <div class="col-8">
        Send Chase-up emails to those who haven't responded yet.
      </div>

      <div class="col-4">
        <!--Button to send chase up email-->
        <button class="btn btn-outline-success" (click)="openWindowCustomClass(sendChaseUpWindow)">
          Send Chase-up
        </button>
      </div>
    </div>

  </div>

  <hr>
  <!--Section for danger zone-->
  <div class="card-title">
    <h2>
      Danger Zone
    </h2>

  </div>
  <div class="list-group">
    <div class="row">
      <div class="col-8">
        Delete the questionnaire.
      </div>

      <div class="col-4">
        <!--Button to delete questionarrie -->
        <button class="btn btn-outline-danger" (click)="openWindowCustomClass(deleteQuestionnaireWindow)">
          delete
        </button>

      </div>
    </div>
  </div>

  <div class="list-group">
    <div class="row">

      <div class="col-8">
        Close the questionnaire now and stop receiving any new responses.
      </div>

      <div class="col-4">
        <!--Button to close the email-->
        <button class="btn btn-outline-danger" (click)="openWindowCustomClass(closeQuestionnaireWindow)">
          Close
        </button>

      </div>
    </div>
  </div>

  <!--facilitate pop up page to change deadline-->
  <ng-template #changeDeadlineWindow let-modal>
    <!--Header of pop over-->
    <div class="modal-header">
      <h4 class="modal-title">
        Changing Deadline
      </h4>
      <!--Button to close the pop over-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>

    </div>
    <div class="modal-body">
      <app-set-deadline (emitter)="changeDeadline($event)"></app-set-deadline>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">
        Change
      </button>
    </div>

  </ng-template>


  <!--facilitate pop u ppage to send chase up email-->
  <ng-template #sendChaseUpWindow let-modal>
    <!--Header of pop over-->
    <div class="modal-header">
      <h4 class="modal-title">
        Send Chase-up Emails
      </h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>

    </div>
    <div class="modal-body">
      All the users that has been assigned this questionnaire but has not responded will receive and email. Once you
      have done it,
      you cannot do it again for this questionnaire in 8 hours. Are you sure you want to send now?

    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">
        Send
      </button>

    </div>

  </ng-template>

  <!--facilitate pop up page to view assigned-->
  <ng-template #viewAssignedWindow let-modal>
    <!--Header of the pop over-->
    <div class="modal-header">
      <h4 class="modal-title">
        Questionnaire assigned to:
      </h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>

    </div>

    <div class="modal-body">
      <ul>
        <li *ngFor="let respondent of questionnaire.respondents ">
          {{ respondent }}
        </li>
      </ul>
    </div>

  </ng-template>
  <!--facilitate pop up page used to delete questionnarie-->
  <ng-template #deleteQuestionnaireWindow let-modal>
    <!--Header of pop over page-->
    <div class="modal-header">
      <h4 class="modal-title">
        Delete Questionnaire
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>
    </div>

    <div class="modal-body">
      If you delete the questionnaire, all responses gathered will be removed from server permanently.
      Are you sure?

    </div>

    <div class="modal-footer">

      <button type="button" class="btn btn-outline-danger" (click)="deleteQuestionnaire()">
        Delete Questionnaire
      </button>

    </div>

  </ng-template>

  <!--facilitate pop up page used to close questionnarie-->
  <ng-template #closeQuestionnaireWindow let-modal>
    <!--Header of the pop over page-->
    <div class="modal-header">

      <h4 class="modal-title">
        Closing Questionnaire
      </h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>

    </div>
    <div class="modal-body">
      If you close the questionnaire, all respondents will no longer be able to submit their answers, and
      you cannot open the questionnaire again. Make sure you have collected enough information before proceeding.
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-danger" (click)="closeQuestionnaire()">
        Close Questionnaire
      </button>

    </div>

  </ng-template>

</div>

