<div class="container">
  <ul>
    <div class="accordion" *ngFor="let questionnaire of FAKE_QLIST">
      <div class="row no-gutters">
      <div class="card col">
        <div class="card-header row" id="heading">
          <h2 class="mb-0 col-10">
            <button class="btn btn-link" type="button" aria-expanded="false" [attr.data-target]="'#collapse'+questionnaire.id" data-toggle="collapse" [attr.aria-controls]="'#collapse'+questionnaire.id">
              {{ questionnaire.title }}
            </button>
          </h2>
          <div class="col-2">
            <a href="{{'view-questionnaire/' + questionnaire.id }}"> Detail </a>
          </div>
        </div>
        <div class="collapse show" id="{{ 'collapse' + questionnaire.id }}">
          <div class="card card-body">
            Questionnaire details
          </div>
        </div>
      </div>

    </div>
  </div>
  </ul>
</div>
