<div class="container topmargin">
    <div class="row no-gutters attr_name">
      <div class="col-4">Questionnaire Title</div>
      <div class="col-3">Time Assigned</div>
      <div class="col-3">Deadline</div>
    </div>
    <div class="accordion" *ngFor="let questionnaire of qList">

      <button class="card btn entries" (click)="onClick(questionnaire.id)"
           [attr.aria-expanded]="toggled == questionnaire.id"
            style="text-align: left">
        <div class="card-header row no-gutters mb-0" id="heading">
            <div class="col-4">
              {{ questionnaire.title }}
            </div>
            <div class="col-3">
              {{ questionnaire.dateAssigned }}
            </div>
            <div class="col-3">
              {{ questionnaire.deadline }}
            </div>
            <div class="col-2">
              <a href="{{'view-questionnaire/' + questionnaire.id }}"> Detail </a>
            </div>
        </div>
        <div>
          <div id="{{ questionnaire.id }}" [ngbCollapse]="toggled == questionnaire.id">
            <div class="card">
              <div class="card-body">
                {{ questionnaire.id }} {{ questionnaire.description }}
              </div>
            </div>
          </div>
        </div>


        <div class="collapse" id="{{ 'collapse' + questionnaire.id }}">
          <div class="card card-body">
            Questionnaire details
          </div>
        </div>
      </button>

    </div>
</div>
