<div class="container">
  
  <!--Title of the page-->
  <h1 style="margin: 20px;text-align: center;color:blue;" >
    Manage Staff
  </h1>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-outline-primary" id="addClient" (click)="openWindow(addStaffWindow, null)">
        <i class="fas fa-plus">
        </i>
      </button>
    </div>
  </div>

  <!--Table to display the current staff in the system -->
  <table class="table">

    <thead>
      <!--Info for the staff, including name, email adress, company and detailed info. -->
      <!-- For detailed info part, after clicking in, a pop over window will show, containing coressponding info for the staff -->
      <tr class="info">

        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Company</th>        
        <th>View Info</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let staff of staffList"  class="info">
        
        <td>{{staff.name_first}}</td>
        <td>{{staff.name_last}}</td>
        <td>test@test.com</td>
        <td>Test</td>
        <td><button type="button" class="btn btn-primary btn-lg" (click)="openWindow(editStaffWindow)" >Edit Staff</button></td>
      
      </tr>

    </tbody>

  </table>

  <ng-template #addStaffWindow let-modal>
    <div class="modal-header">
      <!--Title-->
      <div class="modal-title">
        Add new staff to the company
      </div>
      <!--Close button-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <div class="text-right">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">
                  &times;
                </span>
          </button>
        </div>
      </button>
    </div>

    <div class="modal-body">
      <label for="newStaffId"></label>
      <input type="text" [(ngModel)]="newStaffId" id="newStaffId" placeholder="Input staff id">
    </div>

    <div class="modal-footer">
      <button class="btn-secondary" (click)="addStaff()">Submit</button>
    </div>


  </ng-template>

  <!--Pop over functionality and the view of the pop over page-->
  <ng-template #editStaffWindow let-modal>

        <div class="modal-header">

          <!--Title-->
          <div class="modal-title">
                Manage client's access right and group
          </div>


          <!--Close button-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <div class="text-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">
                  &times;
                </span>
                </button>
             </div>
          </button>
        </div>


        <!--Main part of pop over page-->
        <div class="modal-body">
          
          <!--Edit detailed info for a staff-->
          <form class="contact-form" method="get">

            <!--Description for first input area-->
            <label style="font-size: 20px">
              Clients can be viewed:  
            </label>
              
              <!--First input; Clients that staff can edit; A email input is required. -->
              <input aria-required="true" required="" style= "width:300px;max-width:98%;" type= "email">
              
              <!--Description for the second input area-->
              <label style="font-size: 20px">
                Clients can be edited:  
               </label>
              <!--Second input; Clients that staff can view; A email input is required-->             
              <input aria-required="true" required="" style= "width:300px;max-width:98%;" type= "email"> 
              <!--Button to submit the input information-->        
              <input class="btn-secondary" type="submit" value="Submit">
          
            </form>

        </div>

</ng-template>

</div>
