<app-nav></app-nav>
<div class="container topmargin">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="container-fluid" style="margin-bottom:12px;">
            <div class="row">
              <div class="col-8">
                Editing Form Name
              </div>
              <div class="col-4 text-right">
                <div ngbDropdown>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>New</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Text</button>
                  <button class="dropdown-item">Text Box</button>
                  <button class="dropdown-item">Multiple Choice</button>
                  <button class="dropdown-item">Selection</button>
                  <button class="dropdown-item">Multiple Selection</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>
