<div id="temp" class="container topmargin">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="container-fluid" style="margin-bottom:12px;">
            <div class="row">

            </div>
          </div>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush" id="form">

            <li *ngFor="let question of questions; let i = index" class="list-group-item">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-2">
                      QUESTION {{i + 1}}
                    </div>
                  </div>
                </div>

                <div *ngIf="question.typeCode == 1 || question.typeCode == 2" class="card-body">

                <h3><span style="color: darkgrey">Text: </span>{{question.questionBody}}</h3>

                <div class="card-body">
                  <label for="{{question.id}}"></label>
                  <input type="text" class="form-control" id="{{question.id}}" [(ngModel)]="QAmapping[question.id].responseBody"/>
                </div>

                  <!-- test binding  TODO: delete this line -->
                  <div><h1>{{responseSet.responses[0].responseBody}}</h1></div>

                </div>


                <div *ngIf="question.typeCode == 3" class="card-body">

                  <div class="form-group">
                    <h3><span style="color: darkgrey">Multiple Choice: </span>{{question.questionBody}}</h3>
                  </div>
                  <div class="form-check">
                    <div class="card-body">
                      <div *ngFor="let choice of question.choices; let j = index" class="list-group-item">
                        <div class="row">
                          <input class="col-1" type="radio" name="{{question.id}}" (click)="onClickRadio(question, j)"/>
                          <p class="col-11" >{{choice}}</p>
                        </div>
                        <!-- test binding  TODO: delete this line -->
                          <div><h1>{{responseSet.responses[2].responseBody}}</h1></div>
                      </div>
                    </div>
                    </div>

                </div>

                <div *ngIf="question.typeCode == 4" class="card-body">

                  <div class="form-group">
                    <h3><span style="color: darkgrey">Multiple Choice: </span>{{question.questionBody}}</h3>
                  </div>
                  <div class="form-group">
                    <div class="card-body">
                      <div *ngFor="let choice of question.choices; let j = index" class="list-group-item">
                        <div class="row">
                          <label for="{{question.id}}/{{j}}"></label>
                          <input class="col-1" type="checkbox" (click)="onClickCheckbox(question, j)" id="{{question.id}}/{{j}}" />
                          <p class="col-11">{{choice}}</p>
                        </div>
                         <!-- test binding  TODO: delete this line -->
                          <div><h1>{{responseSet.responses[1].responseBody}}</h1></div>
                      </div>
                    </div>
                    </div>

                </div>



              </div>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
