<div class="container topmargin">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="jumbotron text-center">
        <h1 class="display-4">Are you sure you want to submit your response?</h1>
        <p class="lead">Once you submit your response you cannot edit or revoke it.</p>
        <hr class="my-4">
        <p>By continuing you are agreeing that you understand the above.</p>
        <a class="btn btn-light btn-lg" href="/response/complete" role="button" style="margin-right:10px;">Cancel</a>
        <a class="btn btn-danger btn-lg" href="/response/submit/success" role="button">Submit</a>
      </div>
      </div>
    </div>
  </div>
</div>
