<!DOCTYPE html>

<html lang="en">

  <head>
    <title>
      Assign questionnaire
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <br/>
  <body>
    <div class="container">
      <div class="row ">
        <h1 class="entry-title" style="margin-top: 30px;">Assign people to questionnaire</h1>
      </div>
      <div class="row">
        <form class="contact-form" method="get">
          <label style="font-size:28px;margin-top: 42px">
            Email address:  
          </label>
            <input aria-required="true" required="" style= "width:300px;max-width:98%;padding:0.2em" type= "email">
              <p class="contact-submit">
                 <input class="pushbuttton-wide" style="background-color: aqua;color:blueviolet;;cursor:pointer;display:inline-block;font-size: 15px;font-weight:700;letter-spacing:1px;padding: .25em 1em .4em;text-align: center;vertical-align: middle;text-transform:uppercase;border-radius:3px;margin-top: 42px" type="submit" value="Submit">    
              </p>
        </form>
      </div>
    </div>
</body>

</html>