<div class="text-center">
    <!--Head of the page-->
    <h1 style="margin-top: 60px">
        Reset password
    </h1>
    
</div>
<div class="text-center" >
 
    <div class="card" style="margin-top: 60px" >

        <div class="p-3 mb-2 bg-primary text-white">
          <!--Prompt for first input area-->
          <h3 style="margin-top: 40px">
            Please enter your new password 
          </h3>
          
          <form>
          <input aria-required="true" required="" style= "width:300px;max-width:98%;padding:0.2em;margin-top: 20px" type= "password" ng-model="Topic"minlength="8" required >
            <!--Prompt for second input area-->
            <h3 style="margin-top: 20px">
              Please re-enter your new password 
            </h3>
          <input aria-required="true" required="" style= "width:300px;max-width:98%;padding:0.2em;margin-top: 20px" type= "password" ng-model="Topic" minlength="8" required>
          <p class="contact-submit" style="margin-top: 10px">
              <input class="pushbuttton-wide" style="background-color: aqua;color:blueviolet;;cursor:pointer;display:inline-block;font-size: 15px;font-weight:700;letter-spacing:1px;padding: .25em 1em .4em;text-align: center;vertical-align: middle;text-transform:uppercase;border-radius:3px;margin-top: 42px" type="submit" value="Submit" >    
          </p>     
          </form>
    
        </div>
    
      </div>

</div>