<div class="container topmargin">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="jumbotron text-center">
          <h1 class="display-4">Thank you for submitting your questionnaire.</h1>
          <p class="lead">We will email you to confirm your submission has been recieved.</p>
          <hr class="my-4">
          <p>We will now delete all your personal data so you will no longer have access to this account.</p>
          <a class="btn btn-primary btn-lg" href="/info" role="button">Learn more about our data handling and
            security.</a>
        </div>
      </div>
    </div>
  </div>
</div>
